.card {
  width: calc(50% - 16px);
  height: 420px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6f42c1; 
  border-radius: 8px;
  transition: box-shadow 0.3s ease; 

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .center-text {
    text-align: center;
    line-height: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; 
  }
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

