.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110%;
  height: 110.5vh; /* Set height to 100% of viewport height */
  background-image: url('../../assets/login1.jpg'); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center;
  margin-top: -4rem;
  margin-left: -8rem;
  margin-right: -3rem;
  // margin: -8rem;
  // overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
.login-card {
  align-self: center;
  max-width: 400px; /* Adjust the maximum width of the card as needed */
  width: 100%;
  padding: 20px;
  text-align: center;
  align-items: center;
  // align-self: center;
  background-color: rgba(255, 255, 255, 0.126); /* Add a semi-transparent white background to improve readability */
  border-radius: 10px; /* Optional: Add a border-radius for a more polished look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.login-header {
  margin-bottom: 3%;
}

.company-logo {
  width: 60%;
  height: 60%;
}
button.google-sign-in-button {
  width: 100%;
  // background-color: #fff;
  color: #000;
  padding: 20px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: #F1F1F1;
  }
}
.google-button-content {
  display: flex;
  align-items: center;
}
.google-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.google-button-text {
  font-size: 16px;
  font-weight:500;
}