<!-- <div>Welcome to Employee Referral Portal</div>

<div class="login-container">
  <h2>Login with Google</h2>
  <div id="buttonDiv">Login</div>
</div> -->

<div class="center-container">
  <mat-card class="login-card">
    <mat-card-title>
      <img
        class="company-logo"
        src="../../assets/accolite_digital.png"
        alt="Company Logo"
      />
    </mat-card-title>
    <mat-card-header class="login-header">
      <mat-card-title>Login with Google</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button id="buttonDiv" style="border: none; width: auto">
        <span class="google-button-content">
          <img
            src="../../assets/GLogo.png"
            alt="Google Logo"
            class="google-logo"
          />
          <span class="google-button-text">Sign in with Google</span>
        </span>
      </button>
    </mat-card-content>
  </mat-card>
</div>