
  
.profile-container {
  padding-left: 20%;
  padding-top: 30px;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
  background-color: #f0f0f0;

  p {
    margin: 0px;
    font-size: 16px;

    &:first-child {
      font-weight: bold;
    }
  }
}
