

<div class="filters">
    <div class="filter">
      <mat-form-field>
        <mat-label>Filter by:</mat-label>
        <mat-select [(ngModel)]="selectedFilter">
          <mat-option value="experience">Experience</mat-option>
          <mat-option value="preferredLocation">Preferred Location</mat-option>
          <mat-option value="noticePeriod">Notice Period</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filter" *ngIf="selectedFilter === 'preferredLocation'">
      <mat-form-field>
        <mat-label>Preferred Location:</mat-label>
        <mat-select [(ngModel)]="searchText">
          <mat-option value="Banglore">Banglore</mat-option>
          <mat-option value="Hyderabad">Hyderabad</mat-option>
          <mat-option value="Chennai">Chennai</mat-option>
          <mat-option value="Mumbai">Mumbai</mat-option>
          <mat-option value="Gurgaon">Gurgaon</mat-option>
        
        </mat-select>
      </mat-form-field>
    </div>
  
    <div class="filter" *ngIf="selectedFilter !== 'preferredLocation'">
      <mat-form-field>
        <input matInput [(ngModel)]="searchText" placeholder="{{ selectedFilter === 'experience' ? 'Enter Experience' : 'Enter Notice Period' }}">
      </mat-form-field>
    </div>
  
    <div class="filter">
      <button mat-raised-button class="buttonF" color="primary" (click)="onFilterChange()">Apply Filter</button>
    </div>
    </div>
  
  
    <div class="info" *ngIf="isFilter">
      <div>
        <table class="table table-hover table-container">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Ph No</th>
              <th scope="col">Primary Skill</th>
              <th scope="col">Preffered Location</th>
              <th scope="col">Experience</th>
              <!-- <th scope="col">Current Status</th> -->
              <th scope="col">Referer Email</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of filteredCandidates; let i =index">
            <!-- <tr (click)="candidateInfo(i)"> -->
                <tr>
              <td class="number">{{item.id}}</td>
              <td>{{item.candidateName}}</td>
              <td>{{item.candidateEmail}}</td>
              <td>{{item.contactNumber}}</td>
              <td>{{item.primarySkill}}</td>
              <td>{{item.preferredLocation}}</td>
              <td class="number"> {{item.experience}} </td>
              <td>{{item.referrerEmail}}</td>
              <!-- <td>{{item.interviewStatus.currentStatus}}</td> -->
  
              <!-- <td><button class="btn btn-primary" (click)="interviewTheCandidate(item.id)">Interview This Candidae</button></td> -->
              
            </tr>
          </tbody>  
        </table>
        </div>
      </div>
