.filters{
    display:flex;
    align-items: center;
    
  }
  .filter{

    padding: 20px;
  }
  table{
    width: 80%;
  }
  
  /* Style the overall table */
  .table-container {
    width: 80%;
    margin: 0 auto; /* Center the table horizontally */
    border-collapse: collapse;
  }
  
  /* Style the table header */
  .table-container th {
    background-color: #f2f2f2; /* Light gray background */
    text-align: left; /* Align header text to the left */
    padding: 12px;
  }
  
  /* Style the table rows */
  .table-container td {
    padding: 8px;
  }
  
  /* Style alternate rows for better readability */
  .table-container tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Lighter gray background for even rows */
  }
  
  /* Align numbers to the right */
  .table-container td.number {
    text-align: right;
  }

  .buttonF{
    height: 60px;
  }
  
    