.table-container {
    
    width: 99%;
    margin: auto;
    text-align: right; 
  }
.table1{
  margin-top: 1cm;
}
th{
  text-align: center;
}
.header-row{
  
  background-color: #0D016B;
  color: #fff;
}

.odd-row {
  
  background-color: white; /* Set the background color for odd rows */
}

.even-row {
  
  background-color: #f0f0f0; /* Set the background color for even rows */
}

td{
  text-align: center;
}

.align-right {
  text-align: right;
}