<!-- 
<div class="cards">
    <div class="card" (click)="onCard3Click()">
      <div class="card-body">
        <img src="assets\referred.jpg">
        <p class="center-text">
          Referred Candidates
        </p>
      </div>
    </div>
  </div>

   -->

   <div class="container">
    <mat-card class="card" (click)="onCard1Click()" >
      <mat-card-header>
        <mat-card-title>Referred Candidates</mat-card-title>
      </mat-card-header>
      <!-- Content for referred candidates -->
      <mat-card-content>
        <!-- Add your content here -->
      </mat-card-content>
    </mat-card>
  
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Selected Candidates</mat-card-title>
      </mat-card-header>
      <!-- Content for selected candidates -->
      <mat-card-content>
        <!-- Add your content here -->
      </mat-card-content>
    </mat-card>
  
    <mat-card class="card" (click)="onCard3Click()">
      <mat-card-header>
        <mat-card-title>Filter Candidates</mat-card-title>
      </mat-card-header>
      <!-- Content for filtered candidates -->
      <mat-card-content>
        <!-- Add your content here -->
      </mat-card-content>
    </mat-card>
  
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Search Candidates</mat-card-title>
      </mat-card-header>
      <!-- Content for search candidates -->
      <mat-card-content>
        <!-- Add your content here -->
      </mat-card-content>
    </mat-card>
  </div>
  