<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<br />
<mat-card>
  <mat-card-header>
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>End</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->
<div class="home-container">
  <div class="card" (click)="onCard1Click()">
    <div class="card-body">
      <p class="center-text">Refer <br />a <br />Friend</p>
    </div>
  </div>
  <div class="card" (click)="onCard2Click()">
    <div class="card-body">
      <p class="center-text">
        My <br />
        Referrals
      </p>
    </div>
  </div>
  <div class="card" (click)="onCard3Click()">
    <div class="card-body">
      <p class="center-text">
        Manage <br />
        Employee
      </p>
    </div>
  </div>
</div>
