<app-navigation></app-navigation>
<!-- <p>my-referrals works!</p> -->

<div>
  <h2 style="padding-left: 30px">My Referrals</h2>
  <ul>
    <li *ngFor="let candidate of referredCandidates">
      <strong>Candidate Name:</strong> {{ candidate["candidateName"] }}<br />
      <strong>Date of Referral:</strong>
      {{ candidate["dateOfReferral"] | date : "short" }}<br />
      <strong>Interview Status:</strong> {{ candidate["interviewStatus"]
      }}<br />
      <strong>Interviewed Position:</strong>
      {{ candidate["interviewedPosition"] }}<br />
      <hr />
    </li>
  </ul>
</div>
