.heading {
    font-family: "Geomanist",Helvetica,Arial,Sans-Serif;
    color: #333;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
    flex: 1;
    // color: cadetblue;
  }

.info1{
  margin: 0 auto;
  margin-top: 1cm;
  width:99%;
  justify-content: center;
  align-self: center;
}
  // .table1 {
  // // margin: 0 auto;
  // display: flex;
  // justify-content: center;
  // width: 100%;
  // }
// .mat-mdc-table .mat-mdc-header-cell{
//   background: #0D016B;
//   color: #fff;
// }


td{
  vertical-align: middle;
}

.refer-button {
  text-align: right;
  margin-right: 1cm;
}

// .refer{
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .refer {
//   display: flex;
  
// }

// .heading {
//   flex: 1; /* Takes remaining space */
// }

// .refer-button {
//   text-align: right;
// }

.odd-row {
  background-color: white; /* Set the background color for odd rows */
}

.even-row {
  background-color: #f0f0f0; /* Set the background color for even rows */
}

.header-row{
  background-color: rgb(14, 14, 114);
  color: whitesmoke;
}
.odd-row {
  background-color: white; /* Set the background color for odd rows */
}

.even-row {
  background-color: #f0f0f0; /* Set the background color for even rows */
}