.heading {
    font-family: "Geomanist",Helvetica,Arial,Sans-Serif;
    color: #333;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
    // color: cadetblue;
  }

.info1{
  margin : 1cm;
  width:100%;
  justify-content: center;
  align-self: center;
}
.table1 {
// margin: 0 auto;
display: flex;
justify-content: center;
width: 100%;
}
.mat-mdc-table .mat-mdc-header-cell{
  background: #e9e9f4;
}


td{
  vertical-align: middle;
}


