.refer-card{
  color: rgb(10, 56, 92);
  // background-color: #f6eef6;
  background-color: #fafafa;
  padding-bottom: 20px;
}
.form-container {
  color: rgb(10, 56, 92);
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  // background-color: #f6eef6;
}

/* Style form labels */
.label-container {
  color: rgb(10, 56, 92);
  margin-bottom: 15px;
}

.label-container label {
  color: rgb(10, 56, 92);
  display: block;
  margin-bottom: 5px;
}

/* Style form inputs */
.input-container {
  color: rgb(10, 56, 92);
  position: relative;
}

.input-container input,
.input-container select,
.input-container textarea {
  color: rgb(10, 56, 92);
  // background-color: white;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #fafafa;
  border-radius: 4px;
  margin-top: 5px;
}

/* Style checkboxes and radio buttons */
.input-container input[type="checkbox"],
.input-container input[type="radio"] {
  color: rgb(10, 56, 92);
  margin-top: 0;
  margin-right: 5px;
}

/* Style form buttons */
button {
  color: rgb(10, 56, 92);
  // background-color: #220af8;
  color: #fff;
  // padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the result section */
#result {
  color: rgb(10, 56, 92);
  margin-top: 20px;
}

/* Style the PDF viewer */
#pdfViewer {
  color: rgb(10, 56, 92);
  border: 1px solid #ccc;
}

/* Style the modal for PDF viewer */
#pdfViewerModal {
  color: rgb(10, 56, 92);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}


