<mat-toolbar>
  <span
    ><img
      class="company-logo"
      src="../../assets/accolite_digital.png"
      alt="Company Logo"
  /></span>
  <span class="example-spacer"></span>

  <span [routerLink]="'home'" class="nav-text">Home </span>
  <span
    [routerLink]="'referred-candidates'"
    class="nav-text"
    *ngIf="isRecruiter"
    >Dashboard</span
  >
  <span [routerLink]="'referral-tally'" class="nav-text" *ngIf="isRecruiter"
    >Tally</span
  >
  <span
    [routerLink]="'bu-selected-candidates'"
    class="nav-text"
    *ngIf="isSenior"
    >Selected Candidates
  </span>
  <span [routerLink]="'job-management'" class="nav-text" *ngIf="isSenior"
    >Job Management</span
  >
  <span [routerLink]="'job-openings'" class="nav-text">Job Openings</span>
  <span [routerLink]="'manage-employee'" class="nav-text" *ngIf="adminFlag"
    >Manage Employees</span
  >
  <span
    [routerLink]="'referred-candidate-admin'"
    class="nav-text"
    *ngIf="adminFlag"
    >Edit</span
  >

  <!-- <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with account_circle icon"
    [routerLink]="'my-profile'"
  >
    <mat-icon>account_circle</mat-icon> -->
  <!-- </button> -->
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item style="color: rgb(10, 56, 92)">
      <mat-icon style="color: rgb(10, 56, 92)">person</mat-icon>
      <span>{{ tallyData?.name }}</span>
    </button>
    <button mat-menu-item style="color: rgb(10, 56, 92)">
      <mat-icon style="color: rgb(10, 56, 92)">work</mat-icon>
      <span>{{ role }}</span>
    </button>
  </mat-menu>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with logout icon"
    (click)="logout()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <button mat-button class="menu-button" [routerLink]="'home'">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="'refer-a-friend'">
      <mat-icon>person_add</mat-icon>
      <span>Refer A Friend</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="'my-referrals'">
      <mat-icon>groups</mat-icon>
      <span>My Referrals</span>
    </button>

    <button mat-button class="menu-button" [routerLink]="'job-openings'">
      <mat-icon>work</mat-icon>
      <span>Job Openings</span>
    </button>

    <button
      mat-button
      class="menu-button"
      *ngIf="isRecruiter"
      [routerLink]="'referred-candidates'"
    >
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>

    <button
      mat-button
      class="menu-button"
      *ngIf="isRecruiter"
      [routerLink]="'referral-tally'"
    >
      <mat-icon>poll</mat-icon>
      <span>All Referrals Tally</span>
    </button>

    <button
      mat-button
      class="menu-button"
      *ngIf="isSenior"
      [routerLink]="'job-management'"
    >
      <mat-icon>business_center</mat-icon>
      <span>Job Management</span>
    </button>

    <button
      mat-button
      class="menu-button"
      *ngIf="isSenior"
      [routerLink]="'bu-selected-candidates'"
    >
      <mat-icon>check_circle</mat-icon>
      <span>Selected Candidates</span>
    </button>

    <button
      mat-button
      class="menu-button"
      [routerLink]="'manage-employee'"
      *ngIf="adminFlag"
    >
      <mat-icon>person</mat-icon>
      <span>Manage Employees</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
