
mat-toolbar{
  // background-color: #7FC7D9;
  background-color: white;
  color: #0D016B;
  height: 2cm;
  font-family: "Geomanist",Helvetica,Arial,Sans-Serif;
  transition: color 0.3s;
  border: 2px solid rgb(205, 205, 200);
}

.example-spacer {
  flex: 1 1 auto;
}

.custom-toolbar {
  border-bottom: 2px solid #ccc; /* Adjust the color and size as needed */
}

mat-sidenav{
  font-family: "Geomanist",Helvetica,Arial,Sans-Serif;
  margin: 16px;
  width: 250px;
  border-right: none;
  background-color: rgb(171, 3, 171);
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}


.content{
  height: calc(100vh - 98px);
  margin:16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;

  border-radius: 10px;
}

mat-sidenav-container{
  height: calc(100vh - 65px);
}

.menu-button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  color: white;

  span{
      color: white;
  }
  mat-icon{
      // margin-right: 8px;
      color: white;
  }
}
.company-logo {
  width: 100px;
  height: 20%;
}

.nav-text{
  padding: 10px;
  font-size: medium;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 2px solid transparent; /* Initial transparent border */
  transition: border-bottom 0.3s;
}

.nav-text:hover{
  color: purple;
  border-bottom: 2px solid purple;
}
.nav-button{
  background-color: transparent;
  border: white;
}

