<section>
    <div class="row d-flex justify-content-center mx-0">
      <div class="col-md-4">
        <mat-card class="card mt-5">
          <img
            src="../../assets/img2.png"
            alt="Customer Obsessed"
            class="img-fluid smaller-image"
          />
          <h3 class="mt-4 h4" style="color: #002b5c;">Customer Obsessed</h3>
          <p class="text-center">
            Striving to exceed customer expectations and deliver exceptional
            service.
          </p>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="card mt-5">
          <img
            src="../../assets/img4.png"
            alt="Customer Obsessed"
            class="img-fluid smaller-image"
          />
          <h3 class="mt-4 h4" style="color: #002b5c;">Embrace Excellence</h3>
          <p class="text-center">
            Constantly pushing to enable unparalleled results.
          </p>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="card mt-5">
          <img
            src="../../assets/img3.png"
            alt="Customer Obsessed"
            class="img-fluid smaller-image"
          />
          <h3 class="mt-4 h4" style="color: #002b5c;">One Team, One Dream:</h3>
          <p class="text-center">
            Work unitedly for success, supporting customers and each other as
            trusted essential partners.
          </p>
        </mat-card>
      </div>
      <div class="col-md-6 mt-5">
        <mat-card class="card">
          <img
            src="../../assets/img5.png"
            alt="Customer Obsessed"
            class="img-fluid smaller-image"
          />
          <h3 class="mt-4 h4" style="color: #002b5c;">Cultivate Care & Comparison</h3>
          <p class="text-center">
            We foster a culture of happiness, wellness and respect.
          </p>
        </mat-card>
      </div>
      <div class="col-md-6 mt-5">
        <mat-card class="card">
          <img
            src="../../assets/img1.png"
            alt="Customer Obsessed"
            class="img-fluid smaller-image"
          />
          <h3 class="mt-4 h4" style="color: #002b5c;">Fearless Thinkers</h3>
          <p class="text-center">
            We embrace bold thinking to deliver big ideas through hard work.
          </p>
        </mat-card>
      </div>
    </div>
  </section>