<div class="cont">
  <h3 *ngIf="!isAdd && !isEdit">Job Posts</h3>
  <div class="center-container">
    <mat-card class="square-card" *ngIf="!isAdd && !showJobPosts">
      <mat-card-content>
        <img src="assets/add_job.png" (click)="createSheet()" />
      </mat-card-content>
    </mat-card>

    <div class="center-container">
      <mat-card class="square-card" *ngIf="!isAdd && !showJobPosts">
        <mat-card-content>
          <img src="assets/show_job.png" (click)="showDetails()" />
        </mat-card-content>
      </mat-card>
      <ng-container>
        <table
          mat-table
          class="mat-elevation-z8"
          *ngIf="showJobPosts && !isEdit && !isAdd && !isJob"
          [dataSource]="data"
        >
          <ng-container matColumnDef="jobId">
            <th mat-header-cell *matHeaderCellDef>JobId</th>
            <td mat-cell *matCellDef="let item of data">{{ item.JobId }}</td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let item of data">{{ item.Role }}</td>
          </ng-container>

          <ng-container matColumnDef="yearsOfExperience">
            <th mat-header-cell *matHeaderCellDef>Years of Experience</th>
            <td mat-cell *matCellDef="let item of data">
              {{ item.YearsOfExperience }}
            </td>
          </ng-container>

          <ng-container matColumnDef="techStack">
            <th mat-header-cell *matHeaderCellDef>Tech Stack</th>
            <td mat-cell *matCellDef="let item of data">
              {{ item.TechStack }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let item of data; let i = index">
              <button
                mat-icon-button
                (click)="openJobDetailsDialog(item, jobDetailsTemplate)"
              >
                <mat-icon class="view-icon">visibility</mat-icon>
              </button>
              <button mat-icon-button (click)="editSheet(i)">
                <mat-icon class="edit-icon">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteSheet(i)">
                <mat-icon class="delete-icon">delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="[
              'jobId',
              'role',
              'yearsOfExperience',
              'techStack',
              'actions'
            ]"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: [
                'jobId',
                'role',
                'yearsOfExperience',
                'techStack',
                'actions'
              ];
              let i = index
            "
          ></tr>
        </table>

        <ng-template #jobDetailsTemplate let-data>
          <div class="details">
            <p>Job Id: {{ data.jobData.JobId }}</p>
            <p>Role : {{ data.jobData.Role }}</p>
            <p>Years Of Experience: {{ data.jobData.YearsOfExperience }}</p>
            <p>Tech Stack : {{ data.jobData.TechStack }}</p>
            <p>Description : {{ data.jobData.Description }}</p>
            <p>Band : {{ data.jobData.Band }}</p>
            <p>Business Unit : {{ data.jobData.BU }}</p>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>

<div class="forms">
  <div class="add" *ngIf="isAdd || isEdit">
    <div class="form-header" *ngIf="isAdd">
      <h5>Job Details Form</h5>
    </div>

    <div class="form-header" *ngIf="isEdit">
      <h2>Edit Job Details</h2>
    </div>

    <form [formGroup]="googleSheetForm">
      <label for="jobId">Job ID:</label>
      <input
        type="text"
        id="jobId"
        class="form-control"
        required
        formControlName="JobId"
      /><br />

      <label for="role">Role:</label>
      <input
        type="text"
        id="role"
        class="form-control"
        required
        formControlName="Role"
      /><br />

      <label for="yearsOfExperience">Years of Experience:</label>
      <input
        type="number"
        id="yearsOfExperience"
        class="form-control"
        required
        formControlName="YearsOfExperience"
      /><br />

      <label for="techStack">Tech Stack:</label>
      <input
        type="text"
        id="techStack"
        class="form-control"
        required
        formControlName="TechStack"
      /><br />

      <label for="description">Description:</label>
      <textarea
        id="description"
        rows="4"
        class="form-control"
        required
        formControlName="Description"
      ></textarea
      ><br />

      <label for="band">Band:</label>
      <input
        type="text"
        id="band"
        name="band"
        class="form-control"
        required
        formControlName="Band"
      /><br />

      <label for="bu">Business Unit (BU):</label>
      <input
        type="text"
        id="bu"
        class="form-control"
        required
        formControlName="BU"
      /><br />

      <button
        mat-raised-button
        color="primary"
        type="submit"
        *ngIf="isAdd"
        (click)="onSubmit()"
      >
        Submit</button
      ><br />

      <button
        mat-raised-button
        color="primary"
        type="submit"
        *ngIf="isEdit"
        (click)="onUpdate()"
      >
        Update
      </button>
      <br />
    </form>
  </div>
</div>
