
.container-fluid {
    background-color: #333;
    padding: 10px;
    color: white;
  }
  
  img {
    height: 80px; 
    width: 200px;  
  }
  button{
    background-color: purple;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
