
.container-fluid {
    background-color: rgb(90, 10, 109);
    padding: 10px;
    color: white;
  }
  
  img {
    height: 80px; 
    width: 150px;  
  }
  button{
    // background-color: purple;
    // color: white;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
