<mat-toolbar>
  <!-- <img src="assets/image.png" alt="Logo" class="logo-image"> -->
  <span class="example-spacer"></span>
  <!-- <mat-icon class="back-button" (click)="goBack()">arrow_back</mat-icon> -->
  <mat-icon class="profile-button">account_circle</mat-icon>
  <!-- <mat-icon class="search-bar">search-bar</mat-icon> -->
</mat-toolbar>
  
<div class="sidenav" [ngClass]="_dataService.collapsed ? 'sidenav-collapsed':''">
    <div class="logo-container">
      <!-- <button class="logo" (click)="toggleCollapse()">E</button> -->
      <button class="logo" (click)="toggleCollapse()">
        <img src="assets/images.png" alt="Logo Image" class="logo-main">
      </button>
      <div class="logo-text" *ngIf="_dataService.collapsed">ERP</div>
      <button class="btn-close" *ngIf="_dataService.collapsed" (click)="closeSidenav">
      </button>
    </div>
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navData">
        <a  class="sidenav-nav-link"[routerLink]="[data.routeLink]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
        >
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class ="sidenav-link-text" *ngIf="_dataService.collapsed"> {{data.label}}</span>
        </a>
      </li>
    </ul>
  </div>