
// body{
//   font-family: 'Montserrat', sans-serif;
//   color: #33006F;
  
// }

body {
  color: #0D016B;
  font-family: "Geomanist",Helvetica,Arial,Sans-Serif;
  overflow: hidden;
   /* Change text color to #0D016B */
}

