<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode==='over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  ERP

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
       <button mat-button class="menu-button" (click)="isHome()">
          <mat-icon>home</mat-icon>
          <span>Home</span>
       </button>
       <button mat-button class="menu-button"  (click)="referFriend()" >
        <mat-icon>person_add</mat-icon>
        <span>Refer A Friend</span>
       </button>
       <button mat-button class="menu-button" (click)="myReferrals()" >
        <mat-icon>groups</mat-icon>
          <span>My Referrals</span>
       </button>

       <button mat-button class="menu-button" (click)="jobOpening()">
        <mat-icon>work</mat-icon>
          <span>Job Openings</span>
       </button>

       <button mat-button class="menu-button" *ngIf="isRecruiter" (click)="allReferredCandidates()" >
        <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
       </button>

       <button mat-button class="menu-button" *ngIf="adminFlag" (click)="allReferredCandidatesAdmin()" >
        <mat-icon>dashboard</mat-icon>
          <span>Referred Candidates</span>
       </button>

       <button mat-button class="menu-button" (click)="manageEmployee()" *ngIf="adminFlag">
       <mat-icon>person</mat-icon>
       <span>Manage Employees</span>
       </button>

       <button mat-button class="menu-button" (click)="myProfile()">
        <mat-icon>account_circle</mat-icon>
          <span>My Profile</span>
       </button>
       <mat-divider></mat-divider>
       <button mat-button class="menu-button" [routerLink]="''">
        <mat-icon>logout</mat-icon>
          <span>Logout</span>
       </button>
  </mat-sidenav>
  <mat-sidenav-content>  
        <app-landing-page></app-landing-page>
  </mat-sidenav-content>
</mat-sidenav-container>