<app-navigation></app-navigation>
<div *ngIf="employeeFlag">
  <p
    style="font-weight: bold; text-align: right; padding-right: 20px"
    (click)="onClick()"
  >
    Job Openings
  </p>
  <app-employee></app-employee>
</div>
<div *ngIf="adminFlag">
  <p
    style="font-weight: bold; text-align: right; padding-right: 20px"
    (click)="onClick()"
  >
    Job Openings
  </p>
  <app-admin></app-admin>
</div>
<div *ngIf="isBuhead">
  <p
    style="font-weight: bold; text-align: right; padding-right: 20px"
    (click)="onClick()"
  >
    Job Openings
  </p>
  <app-bu-head></app-bu-head>
</div>
<div *ngIf="isRecruiter">
  <p
    style="font-weight: bold; text-align: right; padding-right: 20px"
    (click)="onClick()"
  >
    Job Openings
  </p>
  <app-recruiter></app-recruiter>
</div>
