.info1{
    margin : 1cm;
    width:100%;
    justify-content: center;
    align-self: center;
}
.table1 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 80%;
}


// .candInfo {
//     border: 1px solid #ccc;
//     border-radius: 8px;
//     padding: 1cm;
//     margin: 16px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//     display: flex;
//     flex-direction: column;
//     width: 50%;
//   }

.candInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 50%;
}


  
  .btn-primary {
    width:100%;
    padding: 5px 8px;
    font-size: 10px;
}

.filters{
  display:-webkit-flex;
  align-items: center;
  //justify-content: space-between;
}
.filter{
  
  padding: 20px;
}

/* Style the table header */
.table-container th {
  background-color: #526D82;
  color: #fff; /* Light gray background */
  text-align: left; /* Align header text to the left */
  padding: 12px;
}

/* Style the table rows */
.table-container td {
  padding: 8px;
  background-color: #DDE6ED;
}

/* Style alternate rows for better readability */
.table-container tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Lighter gray background for even rows */
}

/* Align numbers to the right */
.table-container td.number {
  text-align: right;
}

/* Button styling */
.table-container .btn-primary {
  background-color: #007bff; /* Bootstrap primary button color */
  color: #fff; /* Button text color */
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}
tr{
  cursor: pointer;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  padding: 0 15px;
  box-sizing: border-box;
 }

.cand-info {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  width: 60%;

  .cand-title {
    margin-top: 0;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
  }

  .cand-details {
    margin-bottom: 20px;

    p {
      margin-bottom: 5px;
    }
  }

  .cand-btn-group {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;

  // height: 100vh; /* Set the height to 100% of the viewport height */
}

.icons-container {
  position: relative;
  // top: 10px;
  // right: 10px;
  // display: flex;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; /* Adjust the top margin as needed */
  margin-right: 3cm;
  margin-bottom: 1cm;
  gap: 10px;
  cursor: pointer;
}

.icon {
  font-size: 24px;
}

.form-header {
  background-color: #52616B;
  // margin-bottom: 20px;
  color: #fff; 
  padding: 10px;
  text-align: center;
}

form {
  max-width: 50%; /* Adjust the maximum width as needed */
  width: 100%;
  padding: 20px;
  background-color: #C9D6DF;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  width: 90%;
  margin-bottom: 15px;
}

// button {
//   width: 100%;
// }
