// .info1{
//     // margin : 1cm;
//     width:100%;
//     justify-content: center;
//     align-self: center;
// }
.table1 {
  margin: 10px;
  // display: flex;
  // justify-content: center;
 
}

.candInfo {
  font-family: 'Cormorant', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 50%;
}


.filters{
  display:-webkit-flex;
  align-items: center;
  //justify-content: space-between;
}
.filter{
  
  padding: 20px;
}


.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  // background-color: #e6e4e4;
  padding: 0 15px;
  box-sizing: border-box;
 }

.cand-info {
  margin-top: 1cm;
  background-color: #e6e4e4;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  width: 60%;

  .cand-title {
    margin-top: 0;
    color: #0D016B;
    margin-bottom: 10px;
    text-align: center;
  }

  .cand-details {
    margin-bottom: 20px;

    p {
      margin-bottom: 5px;
    }
  }

  .cand-btn-group {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;

  // height: 100vh; /* Set the height to 100% of the viewport height */
}

.icons-container {
  position: relative;
  // top: 10px;
  // right: 10px;
  // display: flex;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; /* Adjust the top margin as needed */
  margin-right: 3cm;
  margin-bottom: 1cm;
  gap: 10px;
  cursor: pointer;
}

.icon {
  font-size: 24px;
}

.form-header {
  background-color: #0D016B;

  // margin-bottom: 20px;
  color: #fff; 
  padding: 10px;
  text-align: center;
}

form {
  max-width: 50%; /* Adjust the maximum width as needed */
  width: 100%;
  padding: 20px;
  background-color: #e6e4e4;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.all-button{
  background-color: #365486; 
  color: white;
}

.table-container th {
    background-color: #0D016B;
    color: #fff;
    // color: #fff; /* Light gray background */
    margin-left: 2cm;
    text-align: left;
    padding: 12px;
  }
  // .btn-primary{
  //   font-size: smaller;
  //   width:100px;
  //   height: 50px;
  // }

// .header-row{
//   background-color: #3498db;
//   text-align: center;
//   justify-content: center;
// }

.odd-row {
  background-color: white; /* Set the background color for odd rows */
}

.even-row {
  background-color: #f0f0f0; /* Set the background color for even rows */
}

.blacklist{
  background-color: rgb(245, 131, 131);
}

.table-container td.number {
    text-align: center;
  }
